.vehiclePage-body {
    background-color: rgb(179, 177, 177);
    height: auto;
    min-height: 1200px;

}

/*----------------------------------Add Vehicle-----------------------------------------*/
.vehiclePage-addBtn {
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-bottom: 1.5em;
    margin-left: 100px;
    margin-top: 10px;


}

.addVehicle-btn {
    width: 200px;
    margin-top: 30px;
}

.vehicleAddForm {
    margin-left: 20px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.259);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.form-group {
    margin: 10px;
}

.vehicleAdd-label {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 20px;
}

.vehicleAdd-radioLabel {
    margin-left: 10px;
    width: 100px;
}

.btn-primary {
    margin: 10px;
}






/*----------------------------------Vehicle List-----------------------------------------*/
.vehiclePage-search-div {
    margin-bottom: 20px;

}

.input-find {
    margin-left: 375px;
    width: 400px;
    height: 35px;
    border-radius: 9px;
    border-color: white;
}

.vehiclePage-container {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    width: 900px;
}


.vehiclePage-table {
    background-color: rgb(247, 245, 242);
    border-radius: 9px;
    font-size: 19px;

}

.vehicleList-vehicleNumber {
    margin-left: 40px;
}

.vehicle-img {
    height: 130px;
    width: 200px;
}



.vehicle-cardBody {
    height: 150px;

    display: flex;
    justify-content: space-between;

}

.vehiclePage-p-claimed {
    color: rgb(192, 3, 3);
}

.claim_button {
    color: green
}

.inShop-true {
    /* color: rgb(125, 111, 2); */
    color: rgb(192, 3, 3);
}

.inShop-false {
    /* color: rgb(0, 6, 128); */
    color: green
}


/*----------------------------------Vehicle Details-----------------------------------------*/

.vehiclePage-details-div {
    float: right;
    width: 400px;
    margin: 50px;
    margin-top: 0;
    margin-right: 60px;
    font-size: 20px;
}

.vehicleDetails-card {
    margin-bottom: 10px;
}

.delete-vehicle {
    color: rgb(230, 24, 24) !important;
    background-color: rgb(221, 224, 227) !important;
}

.vehicleDetails-card-b {
    width: 100px !important;
}