.vehiclePage-container {
    display: flex;



}

.vehiclePage-details-div {
    float: right;
    width: 400px;
    margin: 50px;
    margin-top: 0;
}

.vehicle-img {
    height: 130px;
    width: 200px;
}



.vehicle-cardBody {
    height: 150px;

    display: flex;
    justify-content: space-between;

}

.vehiclePage-p-claimed {
    color: rgb(192, 3, 3);
}