.homePage-container {
    display: flex;

}

.homePage-aside {
    float: right;
}

.homePage-userInfo-Card {
    width: auto;
}

.homePage-userCardBody {
    float: right;
}

.homePage-readyLine-div {
    float: right;

}

.homePage-count-div {
    display: flex;
    justify-content: space-around;

}

.homePage-count-h3 {
    margin-top: 10px;
}